#name{
    /*display: none;*/
    text-align: center;
    font-size: 50px;
}

/*.fade-out{*/
    /*text-align: center;*/
    /*margin-top: 300px;*/
    /*text-decoration: underline;*/
/*}*/

body{
    margin: 0 auto;
    background: linear-gradient(rgba(141,153,174, .7), rgba(141,153,174, .7)), url("../img/binary.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vh;
}